html, body{
    height: 100%;
    background-color:black;

}

body{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}

h3{
    flex:1;
    color:white;
    margin:auto;
    text-align: center;
    font: 2rem "Open Sans", sans-serif;
}

.grid {
    flex:3;
    display: flex;
    flex-wrap: wrap;
    border: solid black;
    background-color:black;
}

.grid div {
    width: 3.57%;
    height: 3.57%;  
}

.pac-dot {
    background-color: yellow;
    border: 0.7rem solid black;
    border-radius: 50%;
    box-sizing: border-box;    
}

.wall {
    background-color:blue;
    /* border: 5px solid black;
    box-sizing: border-box; */
}

.power-pellet {
    background-color: green;
    border-radius: 50%;
}

.pacman {
    position: relative;
    border-radius: 100%;
    border: 1em solid rgb(252, 234, 63);
    box-sizing: border-box;
    border-right-color: black;
    background-color: rgb(252, 234, 63);
    animation-fill-mode: forwards;
    
}

.pacman::before{
    position: absolute;
	content: "";
    left:90%;
    top:90%;
	transform: translate(-120%, -160%);
    width:0.4rem;
    height:0.4rem;
	border-radius: 100%;
	background: #000;
}

.pacmanTop{
    transform: rotate(270deg);
    animation: mouthMove 0.3s alternate;
}
.pacmanBottom{
    transform: rotate(90deg);
    animation: mouthMove 0.3s alternate;
}
.pacmanRight{
    transform: rotate(0deg);
    animation: mouthMove 0.3s alternate;
}
.pacmanLeft{
    transform: scaleX(-1);
    animation: mouthMove 0.3s alternate;
}

@keyframes mouthMove {
    0% {
        border-right-color: black;
    }
    100% {
        border-right-color: rgb(252, 234, 63);
    }
}


.blinky {
    background-color: red;
    border: none;
}

.pinky {
    background-color: pink;
    border: none;
}

.inky {
    background-color: lightblue;
    border: none;
}

.clyde {
    background-color: orange;
    border: none;
}
.ghost{
    border-radius: 50% 50% 0 0 ;
}

.scared-ghost {
    background-color: aquamarine;
    border: none;
}