html, body{
    height: 100%;
    background-color:black;

}

body{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}

h3{
    flex:1;
    color:white;
    margin:auto;
    text-align: center;
    font: 2rem "Open Sans", sans-serif;
}

.grid {
    flex:3;
    display: flex;
    flex-wrap: wrap;
    border: solid black;
    background-color:black;
}

.grid div {
    width: 3.57%;
    height: 3.57%;  
}

.pac-dot {
    background-color: yellow;
    border: 0.7rem solid black;
    border-radius: 50%;
    box-sizing: border-box;
}

.wall {
    background-color:blue;
    /* border: 5px solid black;
    box-sizing: border-box; */
}

.power-pellet {
    background-color: green;
    border-radius: 50%;
}

.pacman {
    background-color: rgb(252, 234, 63) ;
    border-radius: 50%;
    border: solid black;
    box-sizing: border-box;
}

.blinky {
    background-color: red;
    border: none;
}

.pinky {
    background-color: pink;
    border: none;
}

.inky {
    background-color: lightblue;
    border: none;
}

.clyde {
    background-color: orange;
    border: none;
}
.ghost{
    border-radius: 50% 50% 0 0 ;
}

.scared-ghost {
    background-color: aquamarine;
    border: none;
}