html, body{
    height: 100%;
    background-color:black;

}

body{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h3{
    color:white;
    margin:auto;
    text-align: center;
    font: 2rem "Open Sans", sans-serif;
}

.grid {
    width:90vh;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    border: solid black;
    background-color:black;
}

.grid div {
    width: 3.571%;
    height: 3.571%;  
}

.grid .pac-dot {
    background-color: yellow;
    width: 1.071%;
    height: 1.071%;
    margin:1.25%; 
    border-radius: 50%;
    box-sizing: border-box;    
}

.wall {
    background-color:blue;
}

.grid .power-pellet {
    background-color: green;
    border-radius: 50%;
    margin:0.4%;
    width: 2.771%;
    height: 2.771%; 
    box-sizing: border-box;    
}

.grid .pacman {
    position: relative;
    border-radius: 100%;
    box-sizing: border-box;
    border-right-color: black;
    background-color: rgb(252, 234, 63);
    animation-fill-mode: forwards;
    border: 0.6rem solid rgb(252, 234, 63);
    margin:0.2%;
    width: calc(3.571% - 0.4%);
    height: calc(3.571% - 0.4%);
    /* clip-path:ellipse(67% 100% at 8% 50%); */
}

.pacman::before{
    position: absolute;
	content: "";
    left:90%;
    top:90%;
	transform: translate(-120%, -160%);
    width:0.4rem;
    height:0.4rem;
	border-radius: 100%;
	background: #000;
}

.pacmanTop{
    transform: rotate(270deg);
    animation: mouthMove 0.3s alternate;
}
.pacmanBottom{
    transform: rotate(90deg);
    animation: mouthMove 0.3s alternate;
}
.pacmanRight{
    transform: rotate(0deg);
    animation: mouthMove 0.3s alternate;
}
.pacmanLeft{
    transform: scaleX(-1);
    animation: mouthMove 0.3s alternate;
}

@keyframes mouthMove {
    0% {
        border-right-color: black;
    }
    100% {
        border-right-color: rgb(252, 234, 63);
    }
}


.grid .blinky {
    background-color: red;
}

.grid .pinky {
    background-color: pink;
}

.grid .inky {
    background-color: lightblue;
}

.grid .clyde {
    background-color: orange;
}
.grid .ghost{
    border-radius: 50% 50% 0 0 ;
    border: none;
    margin:0.3%;
    width: 2.971%;
    height: 2.971%;  
}

.grid .scared-ghost {
    background-color: aquamarine;
}